:root {
  font-size: 24px;
  font-family: "Open Sans";
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
}

/* Area the bar lives in */
::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.45rem;
}

/* The bar */
::-webkit-scrollbar-thumb {
  background: rgb(170, 183, 187);
  border-radius: 20px;
}

.card {
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  text-decoration: underline;
}

main {
  height: 100vh;
  background-image: url("chair.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e8eaeb;
  overflow-y: scroll;

  /* Matches the width of the .size_nav_bar */
  margin-left: 4rem;
  /* Matches speed .side_nav_bar has */
  transition: 300ms ease;
}

main.groups {
  background-image: none;
}

.navbar_nav {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav_link {
  display: flex;
  align-items: center; /* Centers vertically in a row, horizontally in a column */
  color: #e7e7e7;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8); /* Force icons to be gray until hovered over */
  transition: 600ms;
}

.nav_link.active {
  filter: grayscale(0) opacity(1);
}

/* Display changes only handled in screen sizes wider than 729px */
.link_text {
  display: none;
}

i.fa-solid {
  color: rgb(0, 217, 255);
  margin-left: auto;
  margin-right: auto;
}

.level {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.center {
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.border_layer {
  display: none;
  border: solid 1px rgb(156, 214, 239);
  position: absolute;
  width: 85%;
  align-self: center;
  top: 11rem;
  z-index: 5;
}

.additional_layer {
  height: 40%;
  background-color: rgb(84, 196, 245);
  transition: height 0.6s;
  z-index: 1;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
}

.card-body {
  transition: height 0.4s;
}

h5 {
  margin-top: 20px;
}

.card.test:hover .additional_layer {
  border-radius: 0.25rem;
  height: 100% !important;
}

.card.test:hover .border_layer {
  display: block;
}

.card-body.additional_layer {
}

.card.test:hover .card-body.additional_layer {
  padding: 1rem 1rem;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.card-body {
  overflow: hidden;
  /*  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent); */
}

.card-body:hover {
  overflow-y: scroll;
  /* -webkit-mask-image: none; */
}

/* .card:hover {
    background-color: rgb(213, 242, 247);
    border: 1px solid rgb(58, 160, 255);
  } */

.box {
  display: flex;
  width: fit-content;
}

.side_nav_bar {
  position: fixed;
  background-color: rgb(60, 81, 90);

  /* Matches speed main has */
  transition: 300ms ease; /* STAYS MAIN CSS */
}

.nav_link:hover {
  filter: grayscale(0%) opacity(1);
}

section {
  overflow: hidden;
}

section:hover {
  overflow-x: scroll;
}

/* Might be useless and can delegate this to other classes */
.space_out {
  padding: 10px 10px 0 10px;
  margin: 5px 5px 5px 5px;
}
/* Anything smaller than  */
@media screen and (max-width: 380px) {
  div.card.space_out {
    width: 13.93rem;
    height: 19rem;
  }
}

@media screen and (min-width: 381px) and (max-width: 728px) {
  div.card.space_out {
    width: 14.93rem;
    height: 22rem;
  }
}

@media screen and (max-width: 728px) {
  section::-webkit-scrollbar-thumb {
    display: none;
  }

  section {
    overflow-x: scroll;
  }

  .card-img-top {
    margin-top: 0.5rem;
    height: 7rem;
    width: 8rem;
  }
  .nav_list_item {
    width: 100%;
  }

  header {
    display: none;
  }

  section.bottom {
    margin-bottom: 4rem;
  }

  .side_nav_bar {
    bottom: 0;
    width: 100vw;
    height: 3rem;
    z-index: 2;
  }

  .chairforce_logo {
    display: none;
  }

  .navbar_nav {
    flex-direction: row;
  }

  .nav_link {
    height: 2.9rem;
  }

  main {
    margin-left: 0;
  }

  h2 {
    margin: 1rem;
  }
}

/* Screens that are at least 729px and bigger, will recieve the hover psuedo code */
@media screen and (min-width: 729px) {
  section {
    margin-right: 5.5rem;
    margin-left: 5.5rem;
  }

  section.bottom {
    margin-bottom: 2rem;
  }

  .navbar_nav {
    flex-direction: column;
  }

  i.fa-solid {
    margin-left: 1.3rem;
    margin-right: auto;
  }

  .link_text {
    display: none;
    margin-left: 1rem;
    transition: 300ms ease;
  }

  h2 {
    margin: 6rem 5rem 1rem 5rem;
  }

  .card-img-top {
    width: 14rem;
    height: 12.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 15.2rem;
    height: 26rem;
  }

  header {
    border-bottom: 1px solid rgb(192, 190, 190);
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #dcdee0;
    margin-left: 4rem;
    transition: 300ms ease;
  }

  h1 {
    padding: 1rem;
  }

  .chairforce_icon {
    margin-left: auto;
    margin-right: auto;
  }

  .chairforce_logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #141418;
    width: 100%;
    letter-spacing: 0.3ch;
  }

  .chairforce_logo i {
    transition: 1s;
  }

  .nav_link {
    height: 5rem;
  }

  .nav_link:hover {
    background-color: #141418;
    color: #e7e7e7;
  }

  .side_nav_bar {
    height: 100vh;
    /* Matches the margin-left spacing in main */
    width: 4rem;
  }

  .side_nav_bar:hover {
    width: 12rem;
  }

  .side_nav_bar:hover i {
    margin-left: 1.3rem;
    margin-right: 0;
  }

  .side_nav_bar:hover + header {
    margin-left: 12rem;
  }

  .side_nav_bar:hover ~ main {
    margin-left: 12rem;
  }

  .side_nav_bar:hover .link_text {
    display: inline-block;
  }

  .side_nav_bar:hover .chairforce_logo i {
    transform: rotate(90deg);
    transition: 1s;
    margin-left: 0.7rem;
    filter: brightness(150%);
  }
}

@media screen and (min-width: 729px) and (max-width: 768px) {
  section::-webkit-scrollbar-thumb {
    display: none;
  }

  div.card {
    width: 21.2rem;
    height: 30rem;
  }

  .card-img-top {
    margin-top: 1rem;
    height: 13rem;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    margin-right: 2rem;
    margin-left: 2rem;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section::-webkit-scrollbar-thumb {
    display: none;
  }

  div.card.space_out {
    width: 19.2rem;
    height: 36rem;
  }

  .card-img-top {
    margin-top: 1rem;
    height: 13rem;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    margin-right: 4rem;
    margin-left: 4rem;
    overflow-x: scroll;
  }
}
