:root {
  font-size: 24px;
  font-family: "Open Sans";
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
}

::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.45rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 183, 187);
  border-radius: 20px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

main {
  height: 100vh;
  background-image: url("chair.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e8eaeb;
  overflow-y: scroll;

  /* Matches the width of the .size_nav_bar */
  margin-left: 4rem;
  /* Matches speed .side_nav_bar has */
  transition: 300ms ease;
}

main.groups {
  background-image: none;
}

.box {
  display: flex;
  width: fit-content;
}

section {
  overflow: hidden;
}

section:hover {
  overflow-x: scroll;
}

.space_out {
  padding: 10px 10px 0 10px;
  margin: 5px 5px 5px 5px;
}

/* Start Navigation */
.navbar_nav {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav_link {
  display: flex;
  align-items: center; /* Centers vertically in a row, horizontally in a column */
  color: #e7e7e7;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8); /* Force icons to be gray until hovered over */
  transition: 600ms;
}

.nav_link.active {
  filter: grayscale(0) opacity(1);
}

.side_nav_bar {
  z-index: 10;
  position: fixed;
  background-color: rgb(60, 81, 90);

  /* Matches speed main has */
  transition: 300ms ease; /* STAYS MAIN CSS */
}

.nav_link:hover {
  filter: grayscale(0%) opacity(1);
}

.link_text {
  display: none;
}

.blue_icon {
  color: rgb(0, 217, 255);
  margin-left: auto;
  margin-right: auto;
}
/* End Navigation */

/* Start Card */
.card {
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  /* border-radius: 7%; */
}

div.additional_layer .player_information {
  margin-top: 2rem;
}

.status {
  color: rgba(220, 220, 220, 0.694);
  font-size: 0.5em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.237);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
}

.center {
  z-index: 2;
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.center.status {
  top: 36%;
  left: 50%;
}

.online {
  color: #0de43c;
}

.away {
  color: #e8df39b8;
}

.white_icon {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.stat_title,
.team_title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.team_name {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.stat_count {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.info {
  position: absolute;
  bottom: 0rem;
  right: 3.2rem;
  font-size: 0.6em;
  font-style: italic;
}

.card-img-top.groups {
  z-index: 2;
  border-radius: 50%;
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgb(220, 242, 248);
  border: solid 2px rgb(142, 195, 217);
}

div.card.space_out {
  padding: 0;
  height: 25.5rem;
  width: 17rem;
  border: none;
}

/* Card contents */
.border_layer {
  display: none;
  border: solid 1px rgb(106, 204, 246);
  position: absolute;
  width: 100%;
  align-self: center;
  top: 40%;
  z-index: 5;
}

.additional_layer {
  height: 40%;
  background-color: rgb(84, 196, 245);
  z-index: 1;
  border-radius: 0.25rem 0.25rem 0 0;
}

.additional_layer div.card-body {
  height: 0%;
  background-color: rgb(84, 196, 245);
  transition: height 0.6s;
  color: rgb(254, 254, 254);
  overflow: hidden;
}

.card-body {
  position: absolute;
  top: 40%;
  width: 100%;
  padding: 0 1rem 0 1rem;
  text-align: center;
}

.card-body h3 {
  margin-top: 0.5rem;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.card:hover .additional_layer div.card-body {
  height: 60% !important;
  border-radius: 0 0 0.25rem 0.25rem;
  transition: height 0.6s;
}

.card:hover .border_layer {
  display: block;
}
/* End Card */

/* footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0; 
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 10rem;
  padding-top: 10rem;
  background-color: #141418;
} */

@media screen and (max-width: 380px) {
  div.card.space_out {
    width: 13.93rem;
    height: 19rem;
  }
}

@media screen and (min-width: 381px) and (max-width: 728px) {
  div.card.space_out {
    width: 14.93rem;
    height: 22rem;
  }
}

@media screen and (max-width: 728px) {
  /* Start Card */

  div.additional_layer .player_information {
    margin-top: 0rem;
  }

  .stat_title {
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .center.status {
    top: 37%;
    left: 18%;
  }

  /* End Card */

  /* Start Navigation */

  .chairforce_logo {
    display: none;
  }

  .navbar_nav {
    flex-direction: row;
  }

  .nav_link {
    height: 2.9rem;
  }

  .nav_list_item {
    width: 100%;
  }

  .side_nav_bar {
    bottom: 0;
    width: 100vw;
    height: 3rem;
  }

  /* End Navigation */

  section::-webkit-scrollbar-thumb {
    display: none;
  }

  section {
    overflow-x: scroll;
  }

  header {
    display: none;
  }

  section.bottom {
    margin-bottom: 4rem;
  }

  main {
    margin-left: 0;
  }

  h2 {
    margin: 1rem;
  }
}

/* Screens that are at least 729px and bigger, will recieve the hover psuedo code */
@media screen and (min-width: 729px) {
  section {
    margin-right: 5.5rem;
    margin-left: 5.5rem;
  }

  section.bottom {
    margin-bottom: 2rem;
  }

  h2 {
    margin: 6rem 5rem 1rem 5rem;
  }

  header {
    border-bottom: 1px solid rgb(192, 190, 190);
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #dcdee0;
    margin-left: 4rem;
    transition: 300ms ease;
  }

  h1 {
    padding: 1rem;
  }

  /* Start Navigation */

  .navbar_nav {
    flex-direction: column;
  }

  i.fa-solid.blue_icon {
    margin-left: 1.3rem;
    margin-right: auto;
  }

  .link_text {
    display: none;
    margin-left: 1rem;
    transition: 300ms ease;
  }

  .chairforce_icon {
    margin-left: auto;
    margin-right: auto;
  }

  .chairforce_logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #141418;
    width: 100%;
    letter-spacing: 0.3ch;
  }

  .chairforce_logo i {
    transition: 1s;
  }

  .nav_link {
    height: 5rem;
  }

  .nav_link:hover {
    background-color: #141418;
    color: #e7e7e7;
  }

  .side_nav_bar {
    height: 100vh;
    width: 4rem;
  }

  .side_nav_bar:hover {
    width: 12rem;
  }

  .side_nav_bar:hover i {
    margin-left: 1.3rem;
    margin-right: 0;
  }

  .side_nav_bar:hover + header {
    margin-left: 12rem;
  }

  .side_nav_bar:hover ~ main {
    margin-left: 12rem;
  }

  .side_nav_bar:hover .link_text {
    display: inline-block;
  }

  .side_nav_bar:hover .chairforce_logo i {
    transform: rotate(90deg);
    transition: 1s;
    margin-left: 0.7rem;
    filter: brightness(150%);
  }
  /* End Navigation */
}

@media screen and (min-width: 729px) and (max-width: 768px) {
  section::-webkit-scrollbar-thumb {
    display: none;
  }

  section {
    margin-right: 2rem;
    margin-left: 2rem;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section::-webkit-scrollbar-thumb {
    display: none;
  }

  div.card.space_out {
    width: 19.2rem;
    height: 26rem;
  }

  section {
    margin-right: 4rem;
    margin-left: 4rem;
    overflow-x: scroll;
  }
}
